/*
  Author: Aaron Kaloti
  Release number: 0.1
*/

#main-menu-options {
  list-style-type: none;
}

.picked {
  font-style: italic;
}

#submission-display {
  background-color: yellow;
}

#submission-display, #displayed-cards {
  position: relative;
}

#submission-display div, #displayed-cards div {
  position: absolute;
}

.invisible {
  visibility: hidden;
}

#interim {
  font-size: 2em;
}

.card {
  background: url(../images/deck.png);
  width: 80px;
  height: 120px;
}