/*
  Author: Aaron Kaloti
  Release number: 0.1
*/

/*
  For all webpages
*/

a {
  color: black;
}

/*
  For index.php
*/

/* This isn't needed in every stylesheet because the form needs to
  be displayed before the user can pick a different stylesheet. Thus,
  this sytle is only needed in the default stylesheet. */
form.not-displayed {
  display: none;
}

#main-menu-options {
  list-style-type: none;
}

/*
  For play.php
*/

.card {
  background-image: url(../images/deck.png);
  width: 80px;
  height: 120px;
  border: 5px solid red;
}

.card.picked {
  /* For Internet Explorer 10.0 and up, and for versions
    of Chrome, Firefox, Safari, and Opera above the range of
    versions covered below */
  background: linear-gradient(rgba(255, 0, 0, 0.45),
    rgba(255, 0, 0, 0.45)), url(../images/deck.png);

  /* For Chrome 10.0 up to before 26.0, and for Safari 5.1 up to
    before 6.1 */
  background: -webkit-linear-gradient(rgba(255, 0, 0, 0.45),
    rgba(255, 0, 0, 0.45)), url(../images/deck.png);

  /* For Firefox 3.6 up to before 16.0 */
  background: -moz-linear-gradient(rgba(255, 0, 0, 0.45),
    rgba(255, 0, 0, 0.45)), url(../images/deck.png);

  /* For Opera 11.1 up to before 12.1 */
  background: -o-linear-gradient(rgba(255, 0, 0, 0.45),
    rgba(255, 0, 0, 0.45)), url(../images/deck.png);

  /* So users of older browsers, who won't see any gradients,
    can tell which cards they've picked */
  opacity: 0.5;
}

#everyone-announcement, #submission-display {
  background-color: yellow;
}

#submission-display, #displayed-cards {
  position: relative;
}

#submission-display div, #displayed-cards div {
  position: absolute;
}

#bs-call-buttons a, #submit-button a {
  background-color: red;
  border-radius: 10px;
  border: 5px solid black;
  padding: 5px;
  text-decoration: none;
}

#interim {
  font-size: 2em;
}

.invisible {
  visibility: hidden;
}